
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav settings */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px;
    margin-top: 50px;
    
}
.nav-title{
    color: #4E47FF;
    font-weight: 35px;
}
.button{
    background-color: #4E47FF;
    font-weight: bold;
    padding: 12px 36px;
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    
}
.description-content{
    color: #252432;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 100px;
    text-align: center;
    align-items: baseline;
    
}

.background{
    background-image: url('../Assets/Hero-bg.png');
    
}
/* 2nd page settings */
.section-title{
    
    font-weight: bold;
    color: #252432;
}
.banner-description{
    color: #252432;
    font-size: 24px;
}
.action{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 517px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
    
    
}

.action{
    border-radius: 10px;
    background-color: white;
    margin-top: 116px;
}
.imageee{
    border-radius: 45px;
}